#form-draftgwem2event {
    display: XXXnone;
}
body {
    background-color: #FFFFFF;
    font-family: verdana;
    font-size: 18px;
    line-height: 24px;
}
div.section h1,
div.section h2,
div.section h3,
div.section h4 {
    color: #782327;
    margin-bottom: 0px;
    border-bottom: 0px;
}
p.smaller{
    font-size:0.75em;
}
p.small{
    font-size:0.9em;
}
div.map.find.buttons {
    margin-bottom:10px;
}
span.error{
    color:red;
}
div.map-container,
div.location-group,
div.section{
    background-color: #DDDDDD;
    padding: 5px;
    margin:10px;
    border-radius:10px;

}
div.location-group {
    background-color: #dddddd;
}
div.specifiedlocation {
    color: #782327;
    font-size:18px;
}
div.js-items{

    padding: 3px;
    margin:0px;
    border-radius:10px;
}
div.js-item{
    padding: 5px;
    margin:10px;
    border: 2px solid #CCCCCC;
    background-color: #CCCCCC;
    border-radius: 10px;
}
button{
    background-color: #007A87;
    color:#FFFFFF;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin:5px;
    border-radius:10px;
    border-width: 0px;
}
button.actionbutton {
    background-color: #206C49;
    margin-left:5px;
}
button.actionbutton.noLocation {
    visibility: hidden;
}
button.grey {
    background-color: grey;
    margin-left:5px;
}
button.btn.hasTooltip {
    margin-bottom:9px;
    margin-left:6px;
}

div.js-item:only-child button.delete{
    display: none;
}
label.we-label{
    display:inline-block;
    width:200px;
}
div.location-group table.no-extra {
    margin:0px;
}
div.location-group table.no-extra td{
    padding:0px;
}

select.gwem {
    border: 0;
    color: #EEE;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 10px 2px 10px;
    -webkit-appearance: none;
    width: auto;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    /*  box-shadow: 1px 1px 11px #330033;*/
    background: #007A87;
    margin-bottom: 4px;
}

input.gwem {
    width:408px;
}
input.gwem.time {
    font-size: 25px;
    width:120px;
}
input.gwem[type="text"]{
    font-size:18px;
    font-family: verdana;
}
input.gwem[type="date"]{
    font-size:18px;
    font-family: verdana;
    font-weight:bold;
    width:160px;
}
textarea.gwem {
    font-size:18px;
    font-family: verdana;
}



/* Style the buttons inside the tab */
.tab button {
    /* background-color: inherit; */
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
button.tablinks{
    color:#111111;
}
.tab button.tablinks.savecancel{
    background-color:blue;
    color:#FFF;
}

#leafletmap { 
    height: 750px; 
    width:90%;
    margin: auto;
}

/* The Modal (background) */
#js-raModal.ramodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
.modal-header {
    content: "";
    display: table;
    clear: both;
    float:right;
}
/* Modal Content */
.modal-content {
    margin: auto;
    width: 85%;
    max-height:85%;
    background-color:#ffffff;
    border-radius: 25px;
    padding: 20px; 
    content: "";
    display: table;
    clear: both;
}


#modal-data {
    overflow-y: auto;
    max-height:85%;
}

/* The Close Button */
#btnClose, #btnPrint{
    margin-right:15px;
}
div.modal-header button#btnPrint{
    visibility: hidden;
}
#js-display-location{
    float:right;
}
span.zoomin {
    cursor: zoom-in;
}
span.zoomout {
    cursor: zoom-out;
}
.area-icon {
    width:60px;
    height:60px;
    background :#EEEEEE;
    border: 1px solid #666;

}
.leaflet-div-icon {
    background: #fff;
    border: 1px solid #666;
}

div.display.section {
    margin: 2px;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
    width:97%;
    border: 2px solid #cccccc  ;
    background-color: #eeeeee;
    line-height: 1.0em;

}
@media only screen and (min-width: 769px){
    div.display {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        border-radius: 10px 10px 10px 10px;
        padding: 5px;
        padding-right:10px;
        background-color: #ffffff;
        min-width: 200px;
    }
}

@media only screen and (max-width: 768px){
    div.display {
        border-radius: 10px 10px 10px 10px;
        padding: 5px;
        padding-right:10px;
        background-color: #ffffff;
        min-width: 200px;

    }
}         
div.display {
    font-size:14px;
    line-height: 16px;
}  
div.display h2{
    font-size:18px;
    line-height: 18px;
}  
div.ra-move-controls {
    clear:both;
    float:right;
    margin-bottom:10px;

    background-color: #CCC;
    padding:6px;
    border-radius: 10px 10px 10px 10px;
}
div#js-outer-content{
    clear:both;
}

form#form-draftgwem2event{

}