/* WALKS css */
/* June 2017 -  */
/* Ramblers colours */
/* pantone0110 '#D7A900';           */
/* pantone0159 '#C75B12';           */
/* pantone0186 '#C60C30';           */
/* pantone0555 '#206C49';           */
/* pantone0583 '#A8B400';           */
/* pantone1815 '#782327';           */
/* pantone4485 '#5B491F';           */
/* pantone5565 '#8BA69C';           */
/* pantone7474 '#007A87';           */
/* ============================== TYPOGRAPHY ============================== */

/* Ramblers additions */
.cancelled {color:#C60C30; text-decoration: line-through;}

/* css code to handle json walk feeds */
span.walksummary img{
    height:30px;
    width:30px;
    padding:2px;
}
span.walksummary img:hover{
    height:40px;
    width:40px;
    padding: 5px 5px 5px 0px;
}
/* Ramblers additions */
.cancelledWalks { background-color: #8BA69C;
                  border-radius: 10px 10px 10px 10px;
                  padding: 10px;
                  border-width: 2px;
                  border-style: solid;
                  border-color: #69897E
}
.cancelledWalks h3 {
    color:#782327;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0 1px 0 #ffffff;
    text-shadow: 1px 1px 0 #ffffff;
    margin-top: 0px;
}

.cancelledWalk {color:#000000; }
.cancelreason {color:#C60C30; font-size: 130%;}

.nextwalkCancelled,
.walkCancelled {
    color:#C60C30; 
    text-decoration: line-through;
}

.ra-accordion-item.walkCancelled{
    color:#C60C30; 
    text-decoration: none;
}

.ra-accordion-item.walkCancelled div.reason{
    font-weight: bold;
}

.ra-accordion-item.walkCancelled div.basics,
.ra-accordion-item.walkCancelled div.nomeetplace,
.ra-accordion-item.walkCancelled div.meetplace,
.ra-accordion-item.walkCancelled div.startplace,
.ra-accordion-item.walkCancelled div.nostartplace,
.ra-accordion-item.walkCancelled div.finishplace,
.ra-accordion-item.walkCancelled div.difficulty{
    text-decoration: line-through;
}

.ra-accordion-item.walkNew {
    padding-left: 0px;
    background: url('../../images/new.gif') no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    background-position: 60px 0px ;

}
.nextwalkNew::before {
    content: url('../../images/new.gif');
    padding-right:5px;
}

.walkNew.printon {
    background:none;
    padding-left: 0px;;
    
}
.walkNew {
    padding-left: 35px;
    background: url(../../images/new.gif) no-repeat scroll 0 50% rgba(0,0,0,0);
}

span.walkerror {
    color: #C60C30;
}

div.walkstdfulldetails div.description p{
    margin: 0px;
}
div.walkstdfulldetails div.group
{
    font-size: 115%;
    margin: 2px;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    display: table;
    width:97%;
    border: 0px;
    background-color: #782327;
    color: #eeeeee;
}
div.walkdates {
    font-size: 80%;
    font-style: italic;
}

div.walkstdfulldetails div.reason,
div.walkstdfulldetails div.basics div.description,
div.walkstdfulldetails div.meetplace div.place,
div.walkstdfulldetails div.startplace div.place,
div.walkstdfulldetails div.finishplace div.place{
    font-size: 115%;
}

div.walkstdfulldetails div.reason,
div.walkstdfulldetails div.basics,
div.walkstdfulldetails div.nomeetplace,
div.walkstdfulldetails div.meetplace,
div.walkstdfulldetails div.startplace,
div.walkstdfulldetails div.nostartplace,
div.walkstdfulldetails div.finishplace,
div.walkstdfulldetails div.difficulty,
div.walkstdfulldetails div.walkcontact {
    margin: 2px;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
    width:97%;
    border: 2px solid #cccccc  ;
    background-color: #dddddd;
    line-height: 1.5em;
}
div.walkstdfulldetails div.festivals,
div.walkstdfulldetails div.strands,
div.walkstdfulldetails div.suitability,
div.walkstdfulldetails div.surroundings,
div.walkstdfulldetails div.theme,
div.walkstdfulldetails div.specialStatus,
div.walkstdfulldetails div.facilities{
    margin: 2px;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
    width:97%;
    border: 2px solid #cccccc  ;
    background-color: #eeeeee;
    line-height: 1.5em;

}
div.walkstdfulldetails div.festivals > ul,
div.walkstdfulldetails div.strands > ul,
div.walkstdfulldetails div.suitability > ul,
div.walkstdfulldetails div.surroundings > ul,
div.walkstdfulldetails div.theme > ul,
div.walkstdfulldetails div.specialStatus > ul,
div.walkstdfulldetails div.facilities > ul {
    margin-bottom: 0px;
}
div.walkstdfulldetails div.walkdates{
    margin: 2px;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    display: table;
    width:97%;
    border: 2px solid #cccccc  ;
    background-color: #f0f0f0;
    line-height: 1.5em;
}

/* Popups */

.rapopup {
    color:#782327;
    cursor: pointer;
}
.rapopup:after {
    padding-left:10px;
    content: url(../images/google20.jpg);
}
.mappopup {
    color:#782327;
    cursor: pointer;
}
.place .mappopup {
    font-size:  90%
}
.events.links {
    font-size: .8em;
}


abbr[title] {
    border-bottom: 1px dotted #d5d5d5;
}
.distnear { color:   #007A87}
.distfar { color:   #8a1727}

div.ra_walks_more a{
    background-image: linear-gradient(-90deg, #206C49 0%, #2B9163 100%);
    color: #fff ;
    font-weight: bold;
    transition: all 0.3s ease-out 0s;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    padding: 5px 12px;
    text-decoration: none;
    position: absolute;
    right: 50px;
}
div.ra_walks_more a:hover{
    background-image: linear-gradient(-90deg, #2B9163 0%, #206C49 100%);
}

div.groupA,div.groupG,div.groupS { 
    font-weight: bold;
}

/* Tooltip container */
.walktooltip {
    display: inline;

}

/* Tooltip text */
.walktooltip .walktooltiptext {
    color:#206C49;
    font-size: 13px;
    font-weight: 900;
    display: none;
}

/* Show the tooltip text when you mouse over the tooltip container */
.walktooltip:hover .walktooltiptext {
    display: inline;
    padding-left:5px;

}

@media only screen and (min-width: 769px){
    div.walkstdfulldetails {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        border-radius: 10px 10px 10px 10px;
        padding: 5px;
        padding-right:10px;
        background-color: #ffffff;
        min-width: 500px;
    }
}

@media only screen and (max-width: 768px){
    div.walkstdfulldetails {
        border-radius: 10px 10px 10px 10px;
        padding: 5px;
        padding-right:10px;
        background-color: #ffffff;
        min-width: 500px;

    }
}

/* Grade sidebar formatting */

.gradeSidebar {
    position: fixed;
    top: 160px;
    left: -125px;
    height:auto;
    width:130px;
    padding: 10px;
    z-index: 10000;
    font-size: 14px;
    border-radius:  0px 5px 5px 0px;
    color: black;
    font-weight: bold;
    background-color:#D7A900;
}
.gradeSidebar a{
    color: black;
}
.gradeSidebar a:hover{
    color: white;
}
.gradeSidebar:hover {
    color:white;
    left:0px;
    -webkit-transition:  .5s; /* Safari */
    transition:  .5s;
    background-color:#007A87;
    background: #D7A900; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #C75B12 , #D7A900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #C75B12, #D7A900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #C75B12, #D7A900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #C75B12 , #D7A900); /* Standard syntax */
}


.gradeBar{
    position: fixed;
    padding: 0px;
    padding-left:5px;
    padding-right:5px;
    z-index: 10000;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px ;
    color: white;
    font-size: 12px;
    left: 0px;
    bottom:50px;
    visibility : hidden;
}               

#grade-ea {  
    background-color: #8BA69C;
}
#grade-e {  
    background-color: #A8B400;
}
#grade-l {   
    background-color: #007A87;
}
#grade-m {   
    background-color: #C75B12;
}
#grade-s {   
    background-color: #782327;
}
#grade-t {
    background-color: #5B491F;
}

.grade-ea {  
    background-color: #8BA69C !important;
}
.grade-e {  
    background-color: #A8B400 !important;
}
.grade-l {   
    background-color: #007A87 !important;
}
.grade-m {   
    background-color: #C75B12 !important;
}
.grade-s {   
    background-color: #782327 !important;
}
.grade-t {
    background-color: #5B491F !important;
}
div.leaflet-popup-content div.walkPublished img,
div.leaflet-popup-content div.walkNew img{
    height:30px;
    width:30px;
    float: right;
    margin: 0px 0px 0px 5px;
}
div.leaflet-popup-content div.walkCancelled img{
    display:none;


}
table.walksTable td{
    vertical-align: top;
} 

table.walksTable  div.EasyAccess {
    background: url(../../images/grades/grade-ea.jpg);
    background-size:25px 25px;
    background-repeat: no-repeat;
    padding-left: 30px;
    min-height:30px;
}
table.walksTable  div.Easy {
    background: url(../../images/grades/grade-e.jpg);
    background-size:25px 25px;
    background-repeat: no-repeat;
    padding-left: 30px;
    min-height:30px;
}
table.walksTable  div.Leisurely {
    background: url(../../images/grades/grade-l.jpg);
    background-size:25px 25px;
    background-repeat: no-repeat;
    padding-left: 30px;
    min-height:30px;
}
table.walksTable  div.Moderate {
    background: url(../../images/grades/grade-m.jpg);
    background-size:25px 25px;
    background-repeat: no-repeat;
    padding-left: 30px;
    min-height:30px;
}
table.walksTable  div.Strenuous {
    background: url(../../images/grades/grade-s.jpg);
    background-size:25px 25px;
    background-repeat: no-repeat;
    padding-left: 30px;
    min-height:30px;
}
table.walksTable  div.Technical  {
    background: url(../../images/grades/grade-t.jpg);
    background-size:25px 25px;
    background-repeat: no-repeat;
    padding-left: 30px;
    min-height:30px;
}


div.nextWalksWithGrade{
    clear:left;
}
div.nextWalksWithGrade img{
    float:left;
    margin-right:10px;
    margin-top:10px;
    width:30px;
    height:30px;
}
