/* 
    Created on : 26-Jun-2019, 14:22:33
    Author     : Chris Vaughan
*/

.csvdetails th{
    vertical-align: middle;
}
.csvdetails {
    width: 100%;

}
.csvdetails th.right,
.csvdetails td.right{
    text-align: right;
}
.csvdetails th.left,
.csvdetails td.left{
    text-align: left;
}
.csvdetails th.center,
.csvdetails td.center{
    text-align: center;
}
.csvdetails th{
    line-height:30px;
}
div.csvFilter input{
    display: block;
}
