/* Download */
#gpxDesc {
    width:530px;
    resize: vertical;
}

.leaflet-control-gpx-download {
    margin-bottom: 0px !important;
    margin-right: 0px !important;

}
.leaflet-control-gpx-download div{
    margin-bottom: 3px !important;
}
.leaflet-control-gpx-download a {
    background:#fff url(images/download.png) no-repeat 0 0;
    background-size:27px 27px;
    background-position: center; 
    cursor: pointer;
}

.ra-download-toolbar-button-disabled a {
    background:#fff url(images/downloaddisabled.png) no-repeat 0 0;
    background-size:27px 27px;
    background-position: center; 
}

/* Simplify */

.leaflet-control-gpx-simplify {
    margin-bottom: 0px !important;
    margin-right: 0px !important;

}
.leaflet-control-gpx-simplify div{
    margin-bottom: 3px !important;
}
.leaflet-control-gpx-simplify div a {
    background:#fff url(images/simplify.png) no-repeat 0 0;
    background-size:27px 27px;
    background-position: center; 
    cursor: pointer;
}
.ra-simplify-toolbar-button-disabled div a {
    background:#fff url(images/simplifydisabled.png) no-repeat 0 0;
    background-size:27px 27px;
    background-position: center; 
}

div.leaflet-gpx-options {
    overflow:hidden; /*make sure the wrapper has no dimension*/
    background:#d3d3d3;
    margin-bottom:10px;
    width:auto;
    float:right;

}
div.leaflet-gpx-options div{
    display: inline-block;
    width:auto;
    height: 27px;
    line-height: 27px;
    background:#a9a9a9;
    color:#ffffff;
    margin:0px;
    font-size: 12px;
    line-height: 30px;
    height: 32px;
    padding-left:5px;
    padding-right:5px;
    cursor: pointer;
    margin-left:2px;

}

div.leaflet-gpx-options div:hover{
    background-color:#c9c9c9;
}
div.leaflet-gpx-options div input{
    padding-top:0px;
    padding-bottom:0px;
    height:26px;
    margin: auto;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* upload */
.leaflet-control-gpx-upload {
    margin-bottom: 3px !important;
}
#upload-icon{
    background:#fff url(images/upload.png) no-repeat 0 0;
    background-size:27px 27px;
    background-position: center; 
    width:30px;
    height:30px;
    border-radius:2px;
}
div.ra-upload-toolbar-button-disabled #upload-icon{
    background:#fff url(images/uploaddisabled.png) no-repeat 0 0;
    background-size:27px 27px;
    background-position: center; 
    width:30px;
    height:30px;
    border-radius:2px;
}

.image-upload label{
    margin-bottom:0px;
    cursor: pointer;
}
.image-upload > input
{
    display: none;
}

/* Reverse */

.leaflet-control-reverse-route {
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}
.leaflet-control-reverse-route  div a {
    background:#fff url(images/reverse.png) no-repeat 0 0;
    background-size:27px 27px;
    background-position: center; 
    cursor: pointer;
}
.ra-reverse-toolbar-button-disabled div a {
    background:#ddd url(images/reversedisabled.png) no-repeat 0 0;
    background-size:27px 27px;
    background-position: center; 
}
div.leaflet-gpx-options div.status {
    background-color: #a7ffa7;
    color: #000000;
}

/* Smart Route */
div.leaflet-bar a#leaflet-smart-route{
    width:54px;
}
.leaflet-control-smart-route {
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}

.leaflet-control-smart-route  div a {
    background:#fff url(images/onicon.png) no-repeat 0 0;
    background-size:54px 27px;
    background-position: center; 
    cursor: pointer;
}
.ra-smart-toolbar-button-disabled div a {
    background:#ddd url(images/officon.png) no-repeat 0 0;
    background-size:54px 27px;
    background-position: center; 
}